<div>
  <h2>Comment Section</h2>
  <!-- Input Section -->
  <div>
    <input type="text" placeholder="Enter your username" [(ngModel)]="username" required/>
    <br/>
    <textarea rows="3" placeholder="Enter your comment" [(ngModel)]="comment" required></textarea>
    <br/>
    <button (click)="addComment()">Upload</button>
  </div>

  <!-- Comments Section -->
  <div id="comments" *ngIf="comments.length > 0">
    <h3>Comments:</h3>
    <div *ngFor="let c of comments; let i = index" class="comment-box">
      <ng-container *ngIf="!c.isEditing">
        <strong>{{ c.username }}</strong>: {{ c.text }}
        <button (click)="editComment(i)">Edit</button>
      </ng-container>

      <ng-container *ngIf="c.isEditing">
        <textarea [(ngModel)]="c.text" rows="2"></textarea>
        <button (click)="saveComment(i)">Save</button>
      </ng-container>
    </div>
  </div>
</div>
