
<h1>TO DO LIST</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 projectNav">
      <ul class="project-list">
        <li><button (click)="selectProject('Home')">Home</button></li>
        <li><button (click)="selectToday()">Today</button></li>
        <li><button (click)="selectWeek()">Week</button></li>
        <hr>
      </ul>
      <ul>
        <li *ngFor="let p of projects;let i = index">
          <button (click)="selectProject(p.name)">{{p.name}}</button>
        </li>
      </ul>
    </div>
    <div class="col-sm-10 toDos">
      <ng-container *ngFor="let t of todos; let i = index">
        <div *ngIf="(t.project.name == todoSelector) || (todoSelector == 'Home')" class="todo-container">
          <p>{{t.title}}</p>
          <p>{{t.details}}</p>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <footer class="col-sm-12 text-center ft">
      Footer
    </footer>
  </div>
</div>
